{% set classes = [
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished',
  'custom-two-column-layout'
] %}
{% set id = attributes['id'] ?: content['#paragraph'].bundle() ~ '-' ~ content['#paragraph'].id() %}
<div {{ attributes.addClass(classes).setAttribute('id', id) }}>
  {% if content.left %}
    <div class="group-left">{{ content.left }}</div>
  {% endif %}
  {% if content.right %}
    <div class="group-right">{{ content.right }}</div>
  {% endif %}
</div>
