<div class="a-checkbox">
  <div class="a-checkbox__custom {{ custom_class }}">
    <svg class="a-checkbox__icon {{ icon_class }}" aria-hidden="true">
      <use xlink:href="{{ sprite }}#svg-check"></use>
    </svg>
  </div>
  <div class="a-checkbox__label">{{ content }}</div>
</div>
