{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
<input{{ attributes }} />
<div class="checkbox">
  <svg aria-hidden="true">
    <use xlink:href="{{ vizytka_theme_svg_sprite_path }}#svg-check"></use>
  </svg>
</div>
{{ children }}
