.menu {
  .menu-item {
    a {
      &.active:not(:hover),
      &.is-active:not(:hover) {
        color: var(--white);
      }
    }
  }
}

.field--name-vizytka-main-menu,
.block-vizytka-ds.block-menu-anchors {
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;

  ul.menu {
    display: none;
    margin-left: 0;

    &.open {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }

  .menu-item {
    margin: 0;
    padding: 0;

    &::before {
      display: none;
    }

    a {
      text-decoration: none;
      font-size: var(--font-size--md);
      font-weight: bold;

      a.is-active {
        color: var(--white);
      }
    }
  }

  @drupal-breakpoint wide_1x {
    position: static;
    padding: 2.25rem;
    transform: none;
    display: block;

    ul.menu {
      display: flex;
      flex-flow: row wrap;
    }

    .menu-item {
      margin: 0 20px;

      a {
        text-decoration: none;
        font-size: var(--font-size--sm);
      }
    }
  }
}
