@import "_m-item-work.css";

.paragraph--type-background-text-button {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 15px;
  transition: box-shadow 400ms;

  @drupal-breakpoint medium-min_1x {
    .wrapper {
      display: block;
      overflow: hidden;
      max-height: 0;
      transition: 400ms linear;
      opacity: 0;
    }

    &:hover {
      box-shadow: 10px 7px 8px 1px var(--brand);

      .wrapper {
        max-height: 220px;
        transition: 600ms linear;
        transition-delay: 200ms;
        opacity: 1;
      }
    }
  }

  .group-left {
    position: relative;
    display: flex;

    &:before {
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 50%;
      width: 90%;
      height: 90%;
      content: "";
      transition: 400ms linear;
      transform: translate(-50%, -50%);
      border: 2px solid var(--brand);
    }

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      transition: 400ms linear;
      opacity: 0.7;
      background: var(--white);
    }
  }
  &:hover .group-left {
    &:before {
      z-index: 2;
      width: 100%;
      height: 100%;
      transition: 400ms linear;
      transform: translate(-50%, -50%);
      border: 1px solid var(--brand);
    }

    &:after {
      transition: 400ms linear;
      opacity: 0.9;
    }
  }

  .group-right {
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
    transform: translate(-50%, -50%);
    text-align: center;

    .field--type-text {
      margin: 0;
    }
  }

  .field--type-image {
    display: inline-block;
  }

  .field--type-string {
    padding: 10px 0;
  }

  .wrapper {
    display: block;
    overflow: hidden;
    transition: 400ms linear;
  }
}
