%o-paragraph--type-contact-banner {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 20px 15px;
  box-shadow: -4px -3px 20px -2px var(--brand);

  @drupal-breakpoint tablet_1x {
    overflow: hidden;
    flex-direction: row;
    margin: 20px 0;
    box-shadow: 8px 6px 13px 2px var(--brand);
  }

  &-group {
    position: relative;
    overflow: hidden;
    min-height: 400px;

    &-width {
      @drupal-breakpoint tablet_1x {
        width: 50%;
      }
    }
  }
}
