@import "_o-paragraph--type-contact-banner.css";

.paragraph--type-contact_banner {
  @extend %o-paragraph--type-contact-banner;

  @media (min-width: 992px) {
    .text-formatted,
    .field--type-webform {
      max-width: 550px;
    }
  }

  .group-left,
  .group-right {
    @extend %o-paragraph--type-contact-banner-group;
  }

  .group-left,
  .group-right {
    @extend %o-paragraph--type-contact-banner-group-width;
  }

  &.image-position-normal {
    @media (min-width: 992px) {
      .group-left {
        transform: translateX(-20px);
        border-right: 2px solid var(--brand);
        border-bottom: none;
      }

      .group-right {
        padding: 90px 20px;
      }
    }
    .group-right {
      padding: 30px 10px;
    }

    .group-left {
      border-bottom: 2px solid var(--brand);
    }
  }

  &.image-position-vice_versa {
    @media (min-width: 992px) {
      .group-right {
        transform: translateX(20px);
        border-top: none;
        border-left: 2px solid var(--brand);
      }

      .group-left {
        padding: 90px 20px;
      }

      .text-formatted,
      .field--type-webform {
        margin-left: auto;
      }
    }
    .group-left {
      padding: 30px 10px;
    }

    .group-right {
      border-top: 2px solid var(--brand);
    }
  }
}
