%o-paragraph--type-title-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  @drupal-breakpoint medium_1x {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }

  &--padding {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  &--margin {
    margin-top: 30px;

    @drupal-breakpoint medium_1x {
      margin-top: 0;
    }
  }
}
