@import "_o-paragraph--type-title-banner.css";

.paragraph--type-title-banner {
  @extend .layout-container;
  @extend %o-paragraph--type-title-banner;

  position: relative;

  &:before {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    opacity: 0.7;
    background: var(--brand);
  }

  .field--type-file {
    @extend %o-paragraph--type-title-banner--margin;
  }

  > .field {
    position: relative;
    z-index: 2;
  }
}

.region-content .paragraph--type-title-banner {
  @extend %o-paragraph--type-title-banner--padding;
}
