/* https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  background: var(--white);
  line-height: var(--line-height--base);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
