@import url("https://fonts.googleapis.com/css?family=Didact+Gothic|Roboto+Slab:400,700&display=swap");
html {
  font-size: var(--root-font-size--desktop);
}

body {
  color: var(--black);
  background-color: var(--white);
  font-size: var(--font-size--sm);
}
