.colors {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 100%;
}
.colors__item  {
  margin-bottom: 32px;
  text-align: center;
}
.colors__item > div:first-of-type {
  border: 1px solid;
  flex: 0 0 80px;
  height: 80px;
  margin: 0 16px 10px;
  width: 80px;
}