<div class="color-preview">
  <div id="text">
    <h2>Color Palette</h2>
    <div class="colors">
      <div class="colors__item">
        <div class="black"></div>
        <div class="description">var(--color-1)</div>
      </div>
      <div class="colors__item">
        <div class="white"></div>
        <div class="description">var(--color-2)</div>
      </div>
      <div class="colors__item">
        <div class="brand"></div>
        <div class="description">var(--color-3)</div>
      </div>
      <div class="colors__item">
        <div class="secondary"></div>
        <div class="description">var(--color-4)</div>
      </div>
      <div class="colors__item">
        <div class="third"></div>
        <div class="description">var(--color-5)</div>
      </div>
    </div>
  </div>
</div>
