@import "_m-item-contact.css";

.paragraph--type-item-for-footer {
  display: flex;
  align-items: center;

  @media (min-width: 768px) {
    flex-direction: column;

    .field--type-svg-image-field {
      margin-bottom: 25px;
    }

    .field--type-text {
      margin-left: 0;
    }
  }

  .field__label {
    display: none;
  }

  .field--type-text {
    margin-left: 20px;
  }

  svg {
    fill: var(--white);
    width: 40px;
    height: 40px;
  }
}
