/**
 * @file
 * Bartik layout styling.
 */

/**
 * Container
 */
.layout-container {
  padding: 20px 15px;
}

@media (min-width: 576px) {
  .layout-container {
    padding: 0 calc(50vw - 270px);
  }
}

@media (min-width: 768px) {
  .layout-container {
    padding: 0 calc(50vw - 360px);
  }
}

@media (min-width: 992px) {
  .layout-container {
    padding: 0 calc(50vw - 480px);
  }
}

@media (min-width: 1200px) {
  .layout-container {
    padding: 0 calc(50vw - 590px);
  }
}
