%a-radio {
  &__original {
    @apply absolute w-5 h-5 opacity-0;
  }

  &__custom {
    @apply w-5 h-5 absolute rounded-full bg-lime-light;

    &--error {
      @apply bg-error-light;
    }

    &--hover {
      @apply bg-green-light;
    }

    &--focus {
      @apply bg-green-light;
      @apply shadow-outline;
    }

    &--checked {
      @apply bg-green-light;
    }
  }

  &__marker {
    @apply w-3 h-3 bg-transparent rounded-lg absolute m-1;

    &--checked {
      @apply bg-white;
    }
  }

  &__label {
    @apply text-sm cursor-pointer pl-8 relative align-top;
  }
}
