<div class="a-radio">
  <div class="a-radio__custom {{ custom_class }}">
    <div class="a-radio__marker {{ marker_class }}"></div>
  </div>
  <label class="a-radio__label">{{ content }}</label>
</div>
