@import "_a-radio";

.a-radio {
  &__marker {
    @extend %a-radio__marker;

    &--checked {
      @extend %a-radio__marker--checked;
    }
  }

  &__custom {
    @extend %a-radio__custom;

    &--hover {
      @extend %a-radio__custom--hover;
    }

    &--focus {
      @extend %a-radio__custom--focus;
    }

    &--checked {
      @extend %a-radio__custom--checked;
    }

    &--error {
      @extend %a-radio__custom--error;
    }
  }

  &__label {
    @extend %a-radio__label;
  }
}
