%a-social {
  display: block;
  transition: color 400ms linear;
  font-size: 0;

  a {
    font-size: 0;
  }

  &--svg {
    transition: fill 400ms linear;

    &--size {
      &-small {
        width: 25px;
        height: 25px;
      }

      &-big {
        width: 35px;
        height: 35px;
      }
    }

    &--color {

      &-white {
        fill: var(--white);
      }

      &-black {
        fill: var(--black);
      }

      &:hover {
        fill: var(--brand);
      }
    }

    &:hover {
      fill: var(--brand);
    }
  }
}
