@import "_a-social.css";

.paragraph--type--social-links-with-icons,
.social-media-links--platforms {
  @extend %a-social;
}

.social-media-links--platforms .wrapper-svg svg {
  @extend %a-social--svg;
  @extend %a-social--svg--size-small;
  @extend %a-social--svg--color-white;
}

.paragraph--type--social-links-with-icons .wrapper-svg svg {
  @extend %a-social--svg;
  @extend %a-social--svg--size-big;
  @extend %a-social--svg--color-black;
}
