%m-paragraph--type--number-with-text {
  display: flex;
  flex-direction: column;
  align-items: center;

  &--size {
    &-m {
      font-size: var(--font-size--m);
    }
    &-lg {
      font-size: var(--font-size--lg);
    }
  }
  &--weight {
    &-bold {
      font-weight: bold;
    }
  }
}
