@import "_m-paragraph--type--number-with-text.css";

.paragraph--type--number-with-text {
  @extend %m-paragraph--type--number-with-text;
  @extend %m-paragraph--type--number-with-text--weight-bold;

  .field--type-integer {
    @extend %m-paragraph--type--number-with-text--size-lg;

    position: relative;
    padding-right: 24px;

    &:after {
      position: absolute;
      right: 0;
      content: "+";
    }
  }

  .field--type-text {
    @extend %m-paragraph--type--number-with-text--size-m;

    text-transform: uppercase;
  }
}
