%m-field-link-with-icon {
  position: absolute;
  top: 50%;
  left: 0;
  display: none;
  flex-direction: column;
  transform: translateY(-50%);

  @drupal-breakpoint medium_1x {
    display: flex;
  }

  &-margin {
    margin: 15px 0;
  }
}
