@import "_m-field-link-with-icon.css";

.field--name-field-link-with-icon {
  @extend %m-field-link-with-icon;

  > .field__item {
    @extend %m-field-link-with-icon-margin;
  }

  &:after,
  &:before {
    position: absolute;
    width: 1px;
    height: 70px;
    content: "";
    background-color: var(--black);
  }

  &:after {
    bottom: 100%;
    left: 50%;
    margin-bottom: 15px;
  }

  &:before {
    top: 100%;
    left: 50%;
    margin-top: 15px;
  }
}
