@import 'init';
@import 'layout-settings';

$name: 'two-column-fluid';

.#{$name},
%#{$name} {
  display: flex;
  flex-flow: column wrap;

  &__left,
  &__right {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 100%;
  }

  &__left {
    align-items: center;
  }

  &__right {
    @include padding($size-xxl $size-m);
    background-color: color('brand-main');
  }

  // Small layout type. Using in text paragraph type.
  &__small {
    @include padding-bottom($size-xxl);
    @include padding-top($size-l);
    color: color('brand-main');

    .#{$name}__left {
      .field--name-field-image {
        &,
        img {
          left: 0;
          max-width: 100%;
          position: relative;
          top: 0;
          transform: none;
        }

        img {
          z-index: 1;
        }
      }
    }

    .#{$name}__right {
      @include padding-bottom($size-s);
      @include padding-top($size-s);
      background-color: transparent;
      justify-content: flex-start;
    }
  }

  @include respond-to(s) {
    .field--name-field-address-footer {
      padding: 40px 15%;
    }
  }

  // Desctop styles.
  @include respond-to(m) {
    flex-direction: row;

    &__left,
    &__right {
      width: 50%;
      overflow: hidden;
      position: relative;

      .field--name-field-image img {
        height: auto;
        left: 50%;
        max-width: none;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: auto;
      }

      &.#{$name}--one {
        width: 100%;
      }
    }

    &__small {
      @include padding-top($size-xxl);
      .#{$name}__right .content {
          max-width: 100%;
      }

      .#{$name}__left {
        @include padding-bottom($size-l);
        @include padding-left($size-l);

        .field--name-field-image:before {
          @include spacing(border-width, $size-s);
          @include spacing(left, - $size-l);
          @include spacing(top, $size-l);
          border-color: color('component-text-image-border');
          border-style: solid;
          content: '';
          display: block;
          height: 100%;
          position: absolute;
          width: 100%;
        }
      }
    }

    .field--name-field-address-footer {
      padding: 40px 0;
    }
  }

  @include respond-to(l) {
    .field--name-field-address-footer {
      padding: 40px 5%;
    }
  }

  // large screen styles.
  @include respond-to(lgx) {
    &__small {
      .#{$name}__right {
        padding-left: 0;
        padding-top: 0;

        .content {
          max-width: 70%;
        }
      }
    }

    .field--name-field-address-footer {
      padding: 40px 15%;
    }
  }

  @include respond-to(llg) {
    &__right {
      .content {
        max-width: 70%;
      }
    }
  }
}
