%a-logo {
  @apply flex flex-col;

  &:hover {
    @apply opacity-75;
  }

  &__top {
    @apply flex flex-row items-center;
  }

  &__image {
    @apply leading-none mr-2;
  }

  &__name {
    @apply text-xl;
  }

  &__link {
    @apply text-3xl uppercase font-semibold leading-none text-black no-underline self-center;
  }
}
