@import "_a-logo";

.a-logo {
  @extend %a-logo;

  &__image {
    @extend %a-logo__image;
  }

  &__name {
    @extend %a-logo__name;
  }

  &__link {
    @extend %a-logo__link;
  }

  &__top {
    @extend %a-logo__top;
  }
}
