@import "@vizytka_theme/primary-components/atoms/input/_a-input";

.form-type-textarea,
.form-type-textfield,
.form-type-search,
.form-type-tel,
.form-type-url,
.form-type-email,
.form-type-password,
.form-type-time,
.form-type-number {
  & > label {
    @extend %a-input__label;
  }
}

textarea,
[type="text"],
[type="search"],
[type="tel"],
[type="url"],
[type="email"],
[type="password"],
[type="date"],
[type="time"],
[type="number"] {
  @extend %a-input__element;

  &:focus {
    @extend %a-input__element--focus;
  }

  &.error {
    @extend %a-input__element--error;

    &:focus {
      @extend %a-input__element--error--focus;
    }
  }

  &[disabled] {
    @extend %a-input__element--disabled;
  }
}

.vizytka_theme-select {
  &__inner {
    @extend %a-input;
  }

  &__selected {
    @extend %a-input__element;
    @extend %a-input__element--with-icon;
  }

  &__icon {
    @extend %a-input__icon-container;

    svg {
      @extend %a-input__icon;
    }
  }

  &--focus {
    .vizytka_theme-select__selected {
      @extend %a-input__element--focus;
    }
  }

  &--disabled {
    .vizytka_theme-select__selected {
      @extend %a-input__element--disabled;
    }

    .vizytka_theme-select__icon {
      @extend %a-input__element--disabled;
    }
  }
}

.form-select.error + .vizytka_theme-select__list {
  .vizytka_theme-select__selected {
    @extend %a-input__element--error;

    .vizytka_theme-select--focus & {
      @extend %a-input__element--error--focus;
    }
  }

  .vizytka_theme-select__icon {
    @extend %a-input__icon--error;
  }
}
