@import 'init';

html {
  box-sizing: border-box;
  font-family: $main-font;
  font-size: 100%;
  height: 100%;

  body {
    background: color('brand-second');
    color: color('text');
    height: 100%;
    overflow-x: hidden;
    position: relative;
  }

  * {
    @include font-size(m);
    box-sizing: border-box;
  }

  .container {
    background: none;
    border: 0;
  }
}


*:before,
*:after {
  box-sizing: border-box;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

a {
  color: color('text');
  display: inline-block;
  transition: all .4s ease-in-out;

  //&:hover {
  //  color: color(text);
  //  transition: all .4s ease-in-out;
  //}
}

h1 {
  @include typeset(heading-1);
  @include margin-top($size-m);
  @include margin-bottom($size-s);
}

h2 {
  @include typeset(heading-2);
  @include margin-bottom($size-s);
}

h3,
h4,
h5,
h6 {
  @include typeset(heading-3-6);
  @include margin-bottom($size-m);
  @include margin-top($size-l);
}

p {
  @include typeset(text);
  @include margin($size-ss 0);
}

.content,
.node-full {
  p[style='text-align:center'] img {
    margin: 0 auto;
  }

  img[style*='float:left'] {
    @include margin-right($size-m);
  }

  img[style*='float:right'] {
    @include margin-left($size-m);
  }
}

.horizontal-space {
  @include margin-bottom($size-xxl);
  @include margin-top($size-xxl);
}

.top-space {
  @include margin-top($size-xxl);
}

.bottom-space {
  @include margin-bottom($size-xxl);
}

[id*="toolbar-administration"] * {
  font-size: 12px;
}
