////Checkbox
//
//[type='checkbox']:not(:checked),
//[type='checkbox']:checked {
//  left: -9999px;
//  position: absolute;
//}
//
//[type='checkbox']:not(:checked) + label,
//[type='checkbox']:checked + label {
//  cursor: pointer;
//  display: inline-block;
//  padding-left: 1.95em;
//  position: relative;
//}
//
//[type='checkbox']:not(:checked) + label:before,
//[type='checkbox']:checked + label:before {
//  background: #000;
//  border-color: #000;
//  border-style: solid;
//  border-width: 2px;
//  content: '';
//  height: 15px;
//  left: 3px;
//  position: absolute;
//  top: 50%;
//  transform: translateY(-7.5px);
//  width: 15px;
//}
//
//[type='checkbox']:not(:checked) + label:after,
//[type='checkbox']:checked + label:after {
//  background: transparent;
//  border: 3px solid #000;
//  border-right: 0;
//  border-top: 0;
//  content: '';
//  height: 5px;
//  left: 6px;
//  opacity: 0;
//  position: absolute;
//  top: 50%;
//  transform: translateY(-3px) rotate(-45deg);
//  width: 9px;
//}
//
//input[type='checkbox'] {
//  visibility: hidden;
//
//  &:checked + label:after {
//    opacity: 1;
//  }
//}
//
//
////Radio
//
//[type='radio']:not(:checked),
//[type='radio']:checked {
//  left: -9999px;
//  position: absolute;
//}
//
//[type='radio']:not(:checked) + label,
//[type='radio']:checked + label {
//  cursor: pointer;
//  padding-left: 1.95em;
//  position: relative;
//}
//
//[type='radio']:not(:checked) + label:before,
//[type='radio']:checked + label:before {
//  background: #000;
//  border-color: #000;
//  border-radius: 50%;
//  border-style: solid;
//  border-width: 2px;
//  content: '';
//  height: 15px;
//  left: 3px;
//  position: absolute;
//  top: 50%;
//  transform: translateY(-7.5px);
//  width: 15px;
//}
//
//[type='radio']:not(:checked) + label:after,
//[type='radio']:checked + label:after {
//  background: #000;
//  border-radius: 50%;
//  content: '';
//  height: 7px;
//  left: 7px;
//  opacity: 0;
//  position: absolute;
//  top: 50%;
//  transform: translateY(-3.5px);
//  width: 7px;
//}
//
//input[type='radio'] {
//  visibility: hidden;
//
//  &:checked + label:after {
//    opacity: 1;
//  }
//}
