@import "_o-slider-one.css";

.o-slider {
  @extend %o-slider-one;

  .o-slider__content {
    @extend %o-slider-one-content;
  }
  &.slider-size_full-size .glide__track {
    overflow: visible;
  }

  .text-formatted:first-child {
    display: flex;
    justify-content: center;
  }

  ul {
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%;
    padding: 20px 0;
  }

  ul li {
    display: flex;
    justify-content: center;
    list-style-type: none;
  }
}
