<ul class="a-user-menu {{ modifier_class }}">
  <li class="a-user-menu__menu-item">
    <a class="a-user-menu__link" href="#">My account</a>
  </li>
  <li class="a-user-menu__menu-item">
    <a class="a-user-menu__link" href="#">Log out</a>
  </li>
</ul>
