%a-button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: 400ms;

  &-padding {
    padding: 0;
  }

  &-form-button {
    border: none;
    background: transparent;
  }

  &--hover {
    a {
      transition: 400ms;
    }

    &:before {
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      transition: all 0.4s;
      transform: scale(0.5, 1);
      opacity: 0;
    }

    &-brand {
      &:before {
        background-color: var(--brand);
      }
    }

    &-white {
      &:before {
        background-color: var(--white);
      }
    }

    &:hover {
      &:before {
        transform: scale(1, 1);
        opacity: 1;
      }
    }
  }

  &--bg {
    background: transparent;
  }

  &--link {
    position: relative;
    display: inline-block;
    padding: 0 40px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--brand);
    font-size: var(--font-size--sm);
    line-height: 40px;

    &-white {
      color: var(--white);
    }
  }

  &--border {
    border: 2px solid var(--brand);

    &-white {
      border: 2px solid var(--white);
    }
  }
}
