@import "_a-button.css";

.webform-actions,
.paragraph--type-background-text-button .field--type-link,
.paragraph--type--button .field--type-link,
.field--type-file .file {
  @extend %a-button;
  @extend %a-button--hover;
  @extend %a-button--hover-brand;
  @extend %a-button--bg;
  @extend %a-button--border;

  input,
  a {
    @extend %a-button--link;
  }

  &:hover {
    input,
    a {
      @extend %a-button--link-white;
    }
  }

  input {
    @extend %a-button-form-button;
  }
}

.field--type-file .file {
  @extend %a-button-padding;
  @extend %a-button--border-white;
  @extend %a-button--hover;
  @extend %a-button--hover-white;

  a {
    @extend %a-button--link;
    @extend %a-button--link-white;
  }

  &:hover a {
    color: var(--brand);
  }
}
