
.paragraph--type-footer-block-2 {
  .field--name-field-item-info {
    display: flex;
    flex-flow: row wrap;
    padding-right: calc(15vw - 135px);
    padding-left: calc(15vw - 135px);

    @media (min-width: 970px) {
      align-items: flex-start;
    }

    @media (max-width: 970px) {
      justify-content: center;
      width: 70%;
      margin-top: 10px;
      > .field__item:last-of-type {
        width: 80%;
      }
    }

    @media (max-width: 550px) {
      > .field__item:nth-child(n) {
        justify-content: center;
        width: 100%;
        text-align: center;
        .field--name-field-text-information {
          margin-left: 0;
        }
      }
    }

    > .field__item {
      display: flex;
      width: 50%;
      margin-bottom: 15px;
    }
    > .field__item:nth-child(odd) {
      justify-content: flex-start;
    }
    > .field__item:nth-child(even) {
      justify-content: flex-end;
    }
    > .field__item:last-of-type {
      justify-content: center;
      width: 100%;
      margin: 30px 0;
      > .paragraph--type-item-for-footer {
        width: inherit;
      }
    }
  }
}
