@import "_m-slider-slide";

.paragraph--type--image-text-date {
  /* @extend %m-slider-slide; */
  display: flex;
  flex-direction: column;
  align-items: center;

  .field--name-field-image {
    max-width: 135px;
    max-height: 135px;
  }
  .field--name-field-title {
    position: relative;
    padding-bottom: 19px;
    text-align: center;
  }
  .field--name-field-title::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 50px;
    content: "";
    transform: translateX(-50%);
    border-bottom: 2px solid var(--brand);
  }
  .field--name-field-body p {
    padding-top: 10px;
    text-align: center;
    font-size: var(--font-size--s);
    line-height: 1.8;
  }
}
