html {
  @apply bg-white antialiased font-sans;

  font-size: var(--root-font-size--mobile);

  @drupal-breakpoint wide_1x {
    font-size: var(--root-font-size--desktop);
  }
}

body {
  @apply text-gray-dark leading-normal;
}
