:root {
  --root-font-size--desktop: 100%;
  --base-font-size: 1rem;          /* 16px */

  /* //line-height */
  --line-height--base: 1.4;

  /* font-size */
  --font-size--s: 0.875rem;        /*  14px */
  --font-size--sm: 1rem;           /*  16px */
  --font-size--smm: 1.125rem;      /*  18px */
  --font-size--m: 1.25rem;         /*  20px */
  --font-size--md: 1.5rem;         /*  24px */
  --font-size--l: 1.875rem;        /*  30px */
  --font-size--lg: 2.5rem;         /*  40px */

  /* font-weight */
  --font-weight--s: 400;
  --font-weight--lg: 700;
  --font-familis--serif: "Roboto Slab", sans-serif;
}
