.field-date {
  transform: translate(110%, -50%);
  color: var(--brand);
  font-size: var(--font-size--m);
  font-weight: var(--font-weight--lg);
  span:first-child {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 3px var(--brand) solid;
    background: white;
  }
  span:last-child {
    padding-left: 3px;
  }
}
