@import "@vizytka_theme/primary-components/atoms/select/_a-select";

.vizytka_theme-select {
  @extend %a-select;
}

.vizytka_theme-select__inner {
  @extend %a-select__inner;
}

.vizytka_theme-select__selected {
  @extend %a-select__selected;
}

.vizytka_theme-select__dropdown {
  @extend %a-select__dropdown;

  &--active {
    @extend %a-select__dropdown--active;
  }
}

.vizytka_theme-select__search {
  @extend %a-select__search;
}

.vizytka_theme-select__item-selectable {
  @extend %a-select__item-selectable;
}

.vizytka_theme-select--disabled {
  .vizytka_theme-select__item-selectable {
    @extend %a-select__item-selectable--disabled;
  }
}

.vizytka_theme-select--open {
  .vizytka_theme-select__icon {
    @extend %a-select__icon--active;
  }
}

.vizytka_theme-select__dropdown-item {
  @extend %a-select__dropdown-item;

  &--active {
    @extend %a-select__dropdown-item--active;
  }
}
