@import "_o-paragraph--type--numerical-block.css";

.paragraph--type--numerical-block {
  @extend %o-paragraph--type--numerical-block;

  .field--name-field-information {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 15px;

    @drupal-breakpoint mobile-mid_1x {
      flex-direction: row;
    }

    > .field__item {
      margin: 20px 2.5%;
    }
  }
}
