{% if label_hidden %}
  {%
    set classnames = [
    'field-date',
    'text-formatted',
  ]
  %}
    {% if multiple %}
        <div{{ attributes }}>
            {% for item in items %}
                <div{{ item.attributes }}><span>{{ item.num }}</span><span>{{ item.string }}</span></div>
            {% endfor %}
        </div>
    {% else %}
        {% for item in items %}
            <div{{ item.attributes.addClass(classnames) }}><span>{{ item.num }}</span><span>{{ item.string }}</span></div>
        {% endfor %}
    {% endif %}
{% else %}
    <div{{ attributes }}>
        <div{{ title_attributes }}>{{ label }}</div>
        {% if multiple %}
        <div>
            {% endif %}
            {% for item in items %}
                <div{{ item.attributes }}><span>{{ item.num }}</span><span>{{ item.string }}</span></div>
            {% endfor %}
            {% if multiple %}
        </div>
        {% endif %}
    </div>
{% endif %}
