{% set classes = [
  'field',
  'field--name-' ~ field_name|clean_class,
  'field--type-' ~ field_type|clean_class,
  'field--label-' ~ label_display,
] %}
{% set title_classes = [
  'field__label',
  label_display == 'visually_hidden' ? 'visually-hidden',
] %}

{% if label_hidden %}
  {% if multiple %}
    <div class="glide">

      <div class="glide__track" data-glide-el="track">
        <ul {{ attributes.addClass(classes, 'field__items glide__slides o-slider__slides') }}>

          {% for item in items %}
            <li{{ item.attributes.addClass('field__item glide__slide') }}>
              {{ item.content }}
            </li>
          {% endfor %}

        </ul>
      </div>

      <div class="glide__bullets" data-glide-el="controls[nav]">
        {% for item in items %}
          <div class='glide__bullet' data-glide-dir="={{ loop.index0 }}"></div>
        {% endfor %}
      </div>

    </div>
  {% endif %}
{% endif %}