%o-footer-one {
  position: relative;
  overflow: hidden;
  color: var(--white);

  &__content {
    @apply flex flex-col;

    @drupal-breakpoint medium_1x {
      @apply flex-row justify-between;

      margin-bottom: 6.875rem;
    }
  }

  &__item {
    @apply mb-6;
  }
}
