@import "_o-footer-one.css";

.paragraph--type-footer-block-1 {
  @extend %o-footer-one;

  .field--name-field-item-info {
    @extend %o-footer-one__content;
    @extend .layout-container;

    & > .field__item {
      @extend %o-footer-one__item;
    }

    & > .field__item:last-of-type .paragraph--type-item-for-footer {
      flex-direction: column;
    }
  }

  .field--name-field-title {
    padding: 3.75rem 0 2.5rem;
    text-align: center;
    color: var(--white);
  }
}
