%o-header {
  position: fixed;
  z-index: 10;
  right: 0;
  width: 100%;

  &-position {
    position: relative;
  }
  &-flex {
    display: flex;
    align-items: center;
  }

  &-padding {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  &--display {
    display: block;

    @drupal-breakpoint wide_1x {
      display: none;
    }

    &-none {
      display: none;

      @drupal-breakpoint wide_1x {
        display: block;
      }
    }
  }
}
