@import "_o-header.css";

body:not(.path-frontpage) header,
.header-bg {
  /* background-image: linear-gradient(to right, #d1a3a9, #c0849c, #a56899, #7d539a, #3a459b); */
  background-image: linear-gradient(to right, var(--brand), var(--secondary), var(--third));
}

.header {
  @extend %o-header;

  .layout-container {
    @extend %o-header-padding;
  }

  .region-header {
    @extend %o-header-flex;
    @extend %o-header-position;

    > nav {
      @extend %o-header--display-none;
    }
  }

  .block-system-branding-block {
    margin-right: auto;
  }

  .nav-open {
    @extend %o-header--display;
  }

  &.header-bg {
    .nav-open {
      .icon-bar {
        background-color: var(--white);
      }
    }
  }
}

.block-menu .menu {
  display: flex;
}
