{#
/**
 * @file
 * Default theme implementation of an Instagram image link.
 *
 * Available variables:
 * - data: The entire data array returned from the Instagram API request.
 * - href: The url to the Instagram post page.
 * - src: The source url to the instagram image.
 * - width: The display width of the image.
 * - height: The display height of the image.
 *
 * @ingroup themeable
 */
#}
{% spaceless %}
    <div class="instagram" onclick='window.open("{{ href }}","mywindow");'>
        <div class="list-instagram">
            <div class="left">
                <div class="widget username-instagram">{{ data.user.username }}</div>
            </div>
            <div class="right">
                <div class="widget  likes-instagram">{{ data.likes.count }}</div>
                <div class="widget  comments-instagram">{{ data.comments.count }}</div>
            </div>
        </div>
        {#<img alt="{{ data.caption.text }}" height="{{ height }}px" width="{{ width }}px" src="{{ src }}">#}
        {{ data.img_origin }}
    </div>
{% endspaceless %}
