%a-image-bg {
  img {
    margin-left: auto;
  }
  &--image {
    position: relative;
    margin: 0;

    &:after {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      display: inline-block;
      width: 100%;
      height: 100%;
      content: "";
      transform: translate(-30px, 30px);
      border: 15px solid var(--brand);
    }

    &-left {
      &:after {
        transform: translate(30px, 30px);
      }
    }
  }
}
