@import "_a-image-bg.css";

.paragraph--type-text {
  @extend %a-image-bg;
  .field--type-image {
    @extend %a-image-bg--image;
  }
  &.image-position-vice_versa .field--type-image {
    @extend %a-image-bg--image-left;
  }
}
