%t-banner_with_Icons_and_text {

  &-text {
    text-align: center;
  }

  &-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  &--items {

    &-one {
      @drupal-breakpoint mobile_1x {
        width: 100%;
        max-width: 320px;
        margin: 25px auto;
        text-align: center;
      }
    }

    &-two {
      @drupal-breakpoint narrow_1x {
        width: calc(100% / 2 - 6%);
        max-width: 100%;
        margin: 25px 3%;
        text-align: left;
      }
    }

    &-three {
      @drupal-breakpoint wide_1x {
        width: calc(100% / 3 - 6%);
        margin: 25px 3%;
        text-align: left;
      }
    }
  }
}
