%a-glide-dot {
  width: 14px;
  height: 14px;
  cursor: pointer;
  transition: border 400ms linear;
  border: 1px solid var(--brand);
  border-radius: 50%;
  &-active {
    border: 7px solid var(--brand);
  }
}
