@import 'init';

.post-wrapper {
  color: black;
  outline: white;

  .fb-post-title {
    @include typeset(post-face);
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .fb-post-date {
    color: rgba(0, 0, 0, .7)
  }

  .wrapper-content {
    width: 300px;
    margin: 0 auto;
    color: black;
    text-decoration: none;
    outline: none;
  }
}

.block-karabas-facebook {
  @include padding($size-xxl $size-m);
  max-width: 800px;
  margin: 0 auto;

  .slick-slider {
    margin-top: 35px;

    .slick-current img {
      animation: none !important;
    }
  }

  h2 {
    color: black;
    text-align: center;
  }
}

@include respond-to(m) {
  .block-karabas-facebook {
    max-width: 1140px;

    .slick-arrow {
      background: rgba(0, 0, 0, 0.3);
      transition: .3s;
    }

    .slick-initialized .slick-slide {
      display: flex;
    }
  }
}
