.footer {
  .field--name-field-copywriting {
    background: #0c0c0c;
    bottom: 0;
    left: 50%;
    padding: 5px 0;
    position: absolute;
    transform: translate(-50%,0);
    width: 100%;

    .paragraph--type--copywriting {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

    }

    .field--name-field-email,
    .paragraph--type--copywriting > a {
      margin: 5px 0;
    }
  }
}
