@import 'init';

.block-karabas-instagram {
  padding-bottom: 60px;

  .slick-slider {
    margin-top: 35px;

    .slick-current img {
      animation: none !important;
    }
  }


  h2 {
    color: black;
    text-align: center;
  }

  @include respond-to(m) {
    @include padding(60px 0);
  }
}

.instagram {
  position: relative;
  display: inline-block;
  cursor: pointer;

  .list-instagram {
    display: none;
  }


    @include respond-to(m) {
    &:after {
      content: '';
      top: 0;
      left: 0;
      opacity: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, .4);
      position: absolute;
      transition: .3s;
    }

    .list-instagram {
      transition: .3s;
      color: color('brand-main');
      opacity: 0;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      position: absolute;
      width: 100%;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;

      .left {
        width: 100%;
        text-align: center;
      }

      .right {
        @include margin-top(20px);
      }

      .widget {
        display: inline-block;
        line-height: 32px;
        padding-left: 36px;
        font-weight: bold;
        position: relative;
        @include margin(0 20px);

        &:before {
          position: absolute;
          content: '';
          width: 32px;
          height: 32px;
          display: inline-block;
          right: 100%;
        }
      }
    }

    &:hover {
      &:after,
      .list-instagram {
        opacity: 1;
        transition: .3s;
      }
    }
  }
}

.username-instagram {
  background: url('../../images/instagram-big-logo.png') no-repeat 0 50%;
}

.likes-instagram {
  background: url('../../images/chat.png') no-repeat 0 50%;
}

.reposts-instagram {
  background: url('../../images/like.png') no-repeat 0 50%;
}

.comments-instagram {
  background: url('../../images/user-silhouette.png') no-repeat 0 50%;
}