.preloader-wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1000;
  background: grey;
}

.logo-white,
.logo-black {
  width: 100vw;
  height: 100vh;
  position: fixed;

  &:after {
    position: absolute;
    content: '';
    width: 70%;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.logo-white {
  background: white;
  z-index: 5;
  opacity: 1;
  animation: bg 3s forwards ease-in-out;
}

.logo-black {
  background: black;
  z-index: 4;
}

@keyframes bg {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.logo-white:after {
  background: url('../../images/black1.png') no-repeat 50% 50%;
  background-size: contain;
}

.logo-black:after {
  background: url('../../images/black.png') no-repeat 50% 50%;
  background-size: contain;
}

