.main-slider {
  .field--type-file {
    position: relative;
    height: 600px;

    video {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: auto;
      width: 100%;
    }
  }
}