@import 'init';

.site-header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;

  .region-header {
    @include padding($size-l 0);
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
  }
}

.field--name-field-logo img {
  height: 44.8vw;
  width: inherit;

  @include breakpoint($smm) {
    height: 31.8vw;
  }

  @include respond-to(l) {
    height: 25.8vw;
  }
}