@import 'init';

.main-slider {
  .field--name-field-image,
  .field--name-karabas-video {
    height: 300px;
    position: relative;
    overflow: hidden;

    @include breakpoint($sm) {
      height: 450px;
    }

    @include respond-to(ml) {
      height: 600px;
    }

    img {
      position: absolute;
      top: 0;
      left: 50%;
      height: 100%;
      width: 100%;
      max-width: none;
      transform: translateX(-50%);
      vertical-align: middle;
      border-style: none;
      display: block;

      @include respond-to(lgx) {
        width: 100%;
      }
    }
  }
}

.paragraph--type-slide {
  position: relative;

  img {
    height: auto;
    width: 100%;
    max-width: none;
    vertical-align: middle;
    border-style: none;
    display: block;
    z-index: 5;
  }

  .field--type-image {
    height: 100%;
  }

  @include respond-to(ml) {
    height: 600px;

    img {
      top: 0;
      position: absolute;
      height: 100%;
    }
  }

  @include respond-to(l) {
    img {
      top: 0;
      position: absolute;
      height: auto;
      width: 100%;
    }
  }
}

@include respond-to(ml) {
  .main-slider .slick-current {
    img {
      opacity: 1;
      animation: slider;
      animation-duration: 6s;
      animation-fill-mode: forwards;
      animation-timing-function: linear;
    }

    @keyframes slider {
      0% {
        opacity: 1;
      }
      60% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  }
}