.field--name-field-social-link {
  align-items: center;
  display: flex;
  justify-content: center;

  .field__item {
    margin: 0 50px;

    a {
      display: block;
      font-size: 0;
      height: 25px;
      text-decoration: none;
      width: 25px;
    }

    [href*='facebook.com'],
    [href*='instagram.com'] {
      height: 25px;
      overflow: hidden;
      position: relative;
      width: 25px;

      &:before {
        background-size: contain;
        content: '';
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transition: all .4s linear;
        width: 100%;
      }
    }

    [href*='facebook.com'] {
      &:before {
        background: url('../../images/svg/facebook.svg') center no-repeat;
      }
    }

    [href*='instagram.com'] {
      &:before {
        background: url('../../images/svg/instagram.svg') center no-repeat;
      }
    }
  }
}

.field--name-dynamic-token-fieldparagraph-site-email {
  background: rgba(255, 255, 255, 0.08);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  width: 100%;

  a {
    text-decoration: none;
  }
}

.footer .two-column-fluid__left:after {
  content: '';
  background: rgba(255, 255, 255, 0.08);
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;
  right: 0;
}