@import 'init';

$name: 'title-banner';

.#{$name},
%#{$name},
.paragraph--type-#{$name} {
  @include font-size(xl);
  @include margin($size-l 0);
  @include overlay(color('overlay-color'));
  @include padding-bottom($size-xxxl);
  @include padding-top($size-xxl);
  background-position: center center;
  color: color('white');
  font-size: 24px;
  font-weight: weight(bold);

  .#{$name}__title,
  .field--name-field-title {
    @include main-container;
    position: relative;
    text-align: center;
    z-index: 1;
  }

  .field--type-file {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;

    .field__item {
      margin: 20px 0;
    }

    .file--mime-application-pdf {
      background: none;
      padding-left: 0;
    }

    .file--mime-application-pdf a {
      @include button--normal;
      text-align: center;
      text-decoration: none;
    }
  }
}

@include respond-to(s) {
  .paragraph--type-#{$name} {
    @include padding-bottom($size-xxl);

    .#{$name}__title {
      margin-bottom: 0;
      text-align: left;
    }

    .field--type-file {
      display: flex;
      top: 50%;
      transform: translate(-25%, -50%);

      .field__item {
        margin: 0 20px;
      }
    }
  }
}