%a-title {
  margin-bottom: 10px;
  color: var(--black);

  &--line-height {
    &-base {
      line-height: var(--line-height--base);
    }
  }
  &--color {
    &-brand {
      color: var(--brand);
    }
    &-black {
      color: var(--black);
    }
    &-white {
      color: var(--white);
    }
  }

  &--font-size {
    &-big {
      font-size: var(--font-size--small);
    }
    &-smm {
      font-size: var(--font-size--smm);
    }
    &-l {
      font-size: var(--font-size--l);
    }
    &-lg {
      font-size: var(--font-size--lg);
    }
    &-m {
      font-size: var(--font-size--m);
    }

    &-md {
      font-size: var(--font-size--md);
    }
  }

  &--font-weight {
    &-lg {
      font-weight: 700;
    }
  }

  &--text-transform {
    &-up {
      text-transform: uppercase;
    }
  }
}
