@import "_a-title.css";

h1,
.paragraph--type-contact_banner .field--type-text,
.custom-two-column-layout .field--type-text,
.paragraph--type-text .field--type-text {
  @extend %a-title;
  @extend %a-title--line-height-base;
  @extend %a-title--font-size-l;
  @extend %a-title--font-weight-lg;
  @extend %a-title--color-brand;
}
.o-slider .field--name-field-title:first-child {
  @extend %a-title;
  @extend %a-title--line-height-base;
  @extend %a-title--font-size-md;
  @extend %a-title--font-weight-lg;
  @extend %a-title--color-black;

  @drupal-breakpoint wide_1x {
    @extend %a-title--font-size-l;
  }
}
.o-slider .field--name-field-title {
  @extend %a-title;
  @extend %a-title--line-height-base;
}
.paragraph--type--image-text-date .field--name-field-title {
  @extend %a-title;
  @extend %a-title--font-size-m;
}

.paragraph--type-footer-block-2 .field--name-field-title {
  @extend %a-title;
  @extend %a-title--line-height-base;
  @extend %a-title--font-size-lg;
  @extend %a-title--font-weight-lg;
  @extend %a-title--color-white;
}

h2,
.o-banner-with-text .field--name-field-title,
.paragraph--type-footer-block-1 .field--name-field-title,
.paragraph--type--banner-with-icons-and-text > .field--type-text,
.o-slider__content > .field--type-text {
  @extend %a-title;
  @extend %a-title--line-height-base;
  @extend %a-title--font-size-md;
  @extend %a-title--font-weight-lg;
}

h3,
.paragraph--type-background-text-button .field--type-text {
  @extend %a-title;
  @extend %a-title--line-height-base;
  @extend %a-title--font-size-md;
  @extend %a-title--font-weight-lg;
}
h4,
.paragraph--type--icon-and-text .field--type-text {
  @extend %a-title;
  @extend %a-title--color-brand;
  @extend %a-title--font-size-smm;
  @extend %a-title--font-weight-lg;
  @extend %a-title--text-transform-up;
}
h5 {
  @extend %a-title;
  @extend %a-title--font-size-smm;
  @extend %a-title--font-weight-lg;
  @extend %a-title--text-transform-up;
}
