%a-mail {
  position: relative;
  transition: color 400ms;
  text-decoration: none;
  color: var(--white);
  font-size: var(--font-size--sm);

  &:after,
  &:before {
    position: absolute;
    bottom: -2px;
    width: 0;
    height: 1px;
    content: "";
    transition: width 400ms linear;
  }

  &:after {
    left: calc(50%);
  }

  &:before {
    right: calc(50%);
  }

  &:hover {
    &:after {
      width: 50%;
    }

    &:before {
      width: 50%;
    }
  }

  &-brand {
    &:after {
      background-color: var(--brand);
    }

    &:before {
      background-color: var(--brand);
    }

    &:hover {
      color: var(--brand);
    }
  }

  &-normal {
    &:after {
      background-color: var(--white);
    }

    &:before {
      background-color: var(--white);
    }

    &:hover {
      color: var(--white);
    }
  }
}
