@import "@vizytka_theme/primary-components/atoms/heading/_a-heading";

h1 {
  @extend %a-heading--h1;
}

h2 {
  @extend %a-heading--h2;
}

h3 {
  @extend %a-heading--h3;
}

h4 {
  @extend %a-heading--h4;
}

h5 {
  @extend %a-heading--h5;
}

h6 {
  @extend %a-heading--h6;
}
