@import "@vizytka_theme/primary-components/atoms/button/_a-button";

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  @extend %a-button;

  &:hover {
    @extend %a-button--hover;
  }

  &:focus {
    @extend %a-button--focus;
  }
}
