@import "_o-footer-two.css";

.paragraph--type-footer-block-2 {
  position: relative;
  display: flex;
  overflow: hidden;
  background-color: var(--brand);

  @media (min-width: 970px) {
    .group-right,
    .group-left {
      width: 50%;
    }
    .group-right {
      padding: 0 12% 0 2%;
    }
    .field--name-field-image img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: auto;
      max-width: none;
      height: 100%;
      transform: translate(-50%, -50%);
    }
  }

  @media (max-width: 970px) {
    flex-direction: column;
    .group-left,
    .group-right {
      width: 100%;
    }
    .group-right {
      padding: 0 5% 0;
    }
    .field--name-field-description {
      width: 75%;
      margin-bottom: 10px;
    }
  }

  @media (max-width: 550px) {
    .field--name-field-description {
      width: 90%;
    }
  }
  .field--name-field-company-logo {
    order: -1;
  }
  .fa-in::before {
    content: none;
  }
  .group-left,
  .group-right {
    position: relative;
    overflow: hidden;
  }
  .group-right {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }
  .field--name-field-title {
    padding-top: 50px;
  }
  .field--name-field-description {
    margin-bottom: 60px;
    p {
      text-align: center;
    }
  }
  .field--name-field-company-email {
    background-color: unset;
  }
}
