@import "_a-menu";

.block-menu .menu {
  margin: 0;
}
.menu .menu-item {
  padding: 0 0 0 40px;

  a {
    text-decoration: none;
    text-transform: uppercase;
  }
}

.nav-open {
  position: relative;
  z-index: 11;
  top: 0;
  right: 0;
  display: block;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: opacity 0.2s linear;

  .icon-bar {
    position: absolute;
    z-index: 15;
    top: 0;
    left: 0;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 4px;
    transition: all 0.4s ease;
    border-radius: 200px;
    background-color: var(--black);

    &:nth-child(2) {
      top: 50%;
      transform: translateY(-50%);
    }

    &:nth-child(3) {
      top: calc(100% - 4px);
    }

    &.item-menu {
      z-index: 10;
    }
  }
  .sub-menu {
    position: absolute;
    z-index: 18;
    top: 12px;
    left: 26px;
    overflow: hidden;
    width: 0;
    height: 0;
    padding-top: 150px;
    padding-left: 47px;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    opacity: 0;
    border-radius: 50%;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: right 20px top 290px;
  }
  .sub-menu li {
    display: block;
    clear: both;
    height: auto;
    transition: all 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    text-align: right;
    opacity: 0;
  }
  .sub-menu li:first-child {
    margin-top: 190px;
    transition-delay: 0.06s;
  }
  .sub-menu li a {
    display: block;
    width: 100%;
    transition: transform 0.2s ease-in;
    text-decoration: none;
    text-transform: uppercase;
    opacity: 0;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    line-height: 38px;
  }
  &.opened {
    .icon-bar {
      background-color: var(--white);
    }

    .one {
      top: calc(50%);
      transform: translateY(-50%) rotate(45deg);
    }

    .three {
      top: calc(50%);
      transform: translateY(-50%) rotate(-45deg);
    }

    span {
      transition-duration: 0.6s;
    }

    .sub-menu li {
      padding-right: 200px;
      padding-left: 0;
      text-align: right;
      opacity: 1;
      &:nth-child(1) {
        transition-delay: 1.06s;
      }
      &:nth-child(2) {
        transition-delay: 1.12s;
      }
      &:nth-child(3) {
        transition-delay: 1.18s;
      }
      &:nth-child(4) {
        transition-delay: 1.24s;
      }
      &:nth-child(5) {
        transition-delay: 1.3s;
      }
    }
    .item-menu {
      top: 70px;
      right: -230px;
      left: auto;
      overflow: visible;
      width: 715px;
      height: 715px;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.2);
    }
    .sub-menu {
      width: 658px;
      height: 658px;
      transition-duration: 1.2s;
      opacity: 1;
      background-color: var(--brand);

      a {
        opacity: 1;
      }
    }
  }
}
