@import "@vizytka_theme/primary-components/atoms/logo/_a-logo";
.block-system-branding-block {
  @extend %a-logo;

  .site-logo {
    @extend %a-logo__image;
    height: 50px;
    width: 50px;
    position: relative;

    img {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      transition: all .5s ease-out;
    }
  }

  .site-name {
    @extend %a-logo__name;
  }

  .secondary-logo {
    opacity: 0;
  }

  .header-bg & {
    color: var(--white);

    .main-logo {
      opacity: 0;
    }

    .secondary-logo {
      opacity: 1;
    }
  }
}

.branding-block {
  &__top {
    @extend %a-logo__top;
  }
}
