@import "@vizytka_theme/primary-components/atoms/user-menu/_a-user-menu";
@import "@vizytka_theme/components/atoms/mail/mail";

.navigation.menu--account,
.field--name-vizytka-main-menu,
.block-vizytka-ds.block-menu-anchors {
  display: none;

  .menu {
    @extend %a-user-menu;

    & > .menu-item {
      @extend %a-user-menu__menu-item;

      & > a {
        @extend %a-user-menu__link;
        @extend %a-mail;
        @extend %a-mail-brand;
        color: var(--black);

        &:hover {
          color: var(--brand);
        }
      }
    }
  }

  .header-bg & {
    .menu > .menu-item > a {
      color: var(--white);

      &:hover {
        color: var(--brand);
      }
    }
  }

  @drupal-breakpoint wide_1x {
    display: block;
  }
}
