%a-input {
  position: relative;
  margin: 10px 0;

  &-style {
    width: 100%;
    padding: 10px;
    resize: none;
    transition: 0.4s;
    color: var(--brand);
    border: 2px solid var(--brand);
    outline: none;
    background: transparent;

    &::placeholder {
      opacity: 0.5;
      color: var(--brand);
    }
    &:focus ~ .focus-border:before,
    &:focus ~ .focus-border:after {
      left: 0;
      width: 100%;
      transition: 0.4s;
    }
    & ~ .focus-border:before,
    & ~ .focus-border:after {
      position: absolute;
      top: 0;
      left: 50%;
      width: 0;
      height: 2px;
      content: "";
      transition: 0.4s;
      background-color: #39f;
    }
    &:focus ~ .focus-border i:before,
    &:focus ~ .focus-border i:after {
      top: 0;
      height: 100%;
      transition: 0.6s;
    }
    & ~ .focus-border i:before,
    & ~ .focus-border i:after {
      position: absolute;
      top: 50%;
      left: 0;
      width: 2px;
      height: 0;
      content: "";
      transition: 0.6s;
      background-color: #39f;
    }
    & ~ .focus-border:after {
      top: auto;
      bottom: 0;
    }
    & ~ .focus-border i:after {
      right: 0;
      left: auto;
    }
  }
}
