@import "_a-input.css";

form .form-item {
  @extend %a-input;

  input[type="text"],
  input[type="email"],
  textarea {
    @extend %a-input-style;
  }
  label {
    display: none;
  }

  .input-container-textarea {
    height: 130px;
    textarea {
      height: 130px;
    }
  }
}
