%o-paragraph--type--banner {
  position: relative;
  display: flex;
  overflow: hidden;
  align-items: center;
  width: 100vw;
  height: 100vh;

  &-left {
    position: relative;

    &-social {
      @drupal-breakpoint medium_1x {
        padding-left: 65px;
      }
    }

    &-not-social {
      margin: 0 auto;
    }
  }

  &-image-video {
    transition: opacity 1500ms linear;
    opacity: 0;
  }

  &-text {
    max-width: 650px;
    text-align: center;
    &-social {
      @drupal-breakpoint medium_1x {
        text-align: left;
      }
    }

    &-not-social {
      @drupal-breakpoint medium_1x {
        text-align: center;
      }
    }
  }

  &-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -15px;

    &-margin {
      margin: 5px 15px;

      @drupal-breakpoint medium_1x {
        margin: 0 15px;
      }
    }

    &-social {
      @drupal-breakpoint medium_1x {
        justify-content: flex-start;
      }
    }
  }

  &-iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100vh;
    transform: translate(-50%, -50%);
    object-fit: cover;
  }

  &-background {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
  }

  &-after {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    opacity: 0.3;

    &-bg {
      background: var(--brand);
    }
  }

  &__overlay {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;

    &-image {
      width: 100%;
      max-width: none;
      height: 100%;
      object-fit: fill;
    }
  }
}
