@import "_o-paragraph--type--banner.css";

.paragraph--type--banner,
.paragraph--type-banner-with-images {
  @extend %o-paragraph--type--banner;
  @extend .layout-container;

  .hide-image-video {
    @extend %o-paragraph--type--banner-image-video;
  }

  .field--name-field-background-banner {
    @extend %o-paragraph--type--banner-background;

    .youtube-iframe-preview {
      @extend %o-paragraph--type--banner-iframe;
    }
  }

  .field--name-field-button-banner {
    @extend %o-paragraph--type--banner-button;

    > .field__item {
      @extend %o-paragraph--type--banner-button-margin;
    }
  }
}

.paragraph--type--banner {

  &:after {
    @extend %o-paragraph--type--banner-after;
  }

  .group-left {
    @extend %o-paragraph--type--banner-left;
    @extend %o-paragraph--type--banner-left-social;
  }

  .field--type-text-long,
  .field--type-text {
    @extend %o-paragraph--type--banner-text;
    @extend %o-paragraph--type--banner-text-social;
  }

  .field--name-field-button-banner {
    @extend %o-paragraph--type--banner-button-social;
  }
}

.paragraph--type-banner-with-images {
  &:not(.overlay)::after {
    @extend %o-paragraph--type--banner-after;
    @extend %o-paragraph--type--banner-after-bg;
  }

  .group-left {
    @extend %o-paragraph--type--banner-left;
    @extend %o-paragraph--type--banner-left-not-social;
  }

  .field--type-text-long,
  .field--type-text {
    @extend %o-paragraph--type--banner-text;
    @extend %o-paragraph--type--banner-text-not-social;
  }

  .field--name-field-banner-overlay {
    @extend %o-paragraph--type--banner__overlay;

    img {
      @extend %o-paragraph--type--banner__overlay-image;
    }
  }
}
