%a-image {
  position: relative;
  display: block;
  width: auto;
  max-width: 100%;
  height: 100%;
  vertical-align: middle;
  object-fit: cover;
  border-style: none;

  &--svg {
    &-small {
      display: inline-block;
      width: 57px;
      height: auto;
    }
  }

  &-color {
    &:after {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      opacity: 0.7;
      background: var(--brand);
    }
  }

  &-position-absolute {
    position: absolute;
    z-index: -2;
    top: 50%;
    left: 50%;
    display: block;
    width: auto;
    min-width: 100%;
    max-width: none;
    height: auto;
    min-height: 100%;
    margin: auto;
    transform: translateX(-50%) translateY(-50%);
    vertical-align: middle;
    border-style: none;
  }
}
