@import "_a-image.css";

img {
  @extend %a-image;
}

.paragraph--type-contact_banner {
  .group-left img,
  .group-right img {
    @extend %a-image-position-absolute;
  }
}

.small-svg,
.paragraph--type--icon-and-text .field--type-svg-image-field svg {
  @extend %a-image--svg-small;
}

.paragraph--type-footer-block-1 .field--type-image,
.paragraph--type--numerical-block {
  @extend %a-image-color;

  img {
    @extend %a-image-position-absolute;
  }
}
