{% extends "block.html.twig" %}
{#
/**
 * @file
 * Default theme implementation for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 *
 * @ingroup themeable
 */
#}
{% block content %}
  <div class="branding-block__top">
    {% if site_logo %}
      <a href="{{ path('<front>') }}" rel="home" class="site-logo">
        <img class="main-logo" src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
        <img class="secondary-logo" src="{{ secondary_logo }}" alt="{{ 'Home'|t }}" />
      </a>
    {% endif %}
    <div class="site-name">{{ site_name }}</div>
  </div>
  <div class="branding-block__bottom">
    <div class="site-slogan">{{ site_slogan }}</div>
  </div>
{% endblock %}
