%o-paragraph--type-text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 100px 15px;
  &-width {
    max-width: 585px;
  }
  &--margin {
    &-top {
      margin-top: 40px;
    }
    &--image {
      margin: 0 20px 0 auto;
    }
  }
}
