@import "_o-paragraph--type-text.css";
.paragraph--type-text {
  @extend %o-paragraph--type-text;

  @media (min-width: 768px) {
    flex-wrap: nowrap;
    .field--type-image {
      margin: 0 20px 0 auto;
    }
    &.image-position-normal .field--type-text {
      margin-top: 0;
    }
    &.image-position-vice_versa .field--type-image {
      margin: 0 0 0 20px;
    }
  }

  &.image-position-normal .field--type-text {
    @extend %o-paragraph--type-text--margin-top;
  }
  .field--type-text-long {
    @extend %o-paragraph--type-text-width;
  }
}
