%m-social {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-top: 15px;

  @media (min-width: 768px) {
    width: 100%;
    margin-top: 5px;
  }

  li {
    margin: 0 5px;
  }

  svg {
    fill: var(--white);
    width: 25px;
    height: 25px;
    transition: fill 400ms linear;
    &:hover {
      fill: var(--brand);
    }
  }
}
