%a-text {
  font-family: var(--font-familis--second);
  &--font-size {
    &-small {
      font-size: var(--font-size--s);
    }

    &-base {
      font-size: var(--font-size--sm);
    }

    &-big {
      font-size: var(--font-size--md);
    }
  }

  &--font-weight {
    &-small {
      font-weight: var(--font-weight--s);
    }

    &-big {
      font-weight: var(--font-weight--lg);
    }
  }

  &--line-height {
    &-small {
      line-height: var(--line-height--base);
    }

    &-base {
      line-height: var(--line-height--base);
    }

    &-big {
      line-height: var(--line-height--base);
    }
  }

  &--color {
    &-black {
      color: var(--black);
    }
    &-white {
      color: var(--white);
    }
    &-secondary {
      color: var(--brand);
    }
  }
}
