@import "_a-text.css";

p,
.paragraph--type-background-text-button .field--type-string {
  @extend %a-text;
  @extend %a-text--font-size-base;
  @extend %a-text--font-weight-small;
  @extend %a-text--line-height-base;
  @extend %a-text--color-black;
}

.paragraph--type-footer-block-2 {
  @extend %a-text;
  @extend %a-text--color-white;
}

.paragraph--type-footer-block-2 .field--name-field-description p {
  @extend %a-text--font-size-base;
  @extend %a-text--color-white;
}

a {
  @extend %a-text;
  @extend %a-text--font-size-small;
  @extend %a-text--font-weight-small;
  @extend %a-text--line-height-small;
  @extend %a-text--color-white;
}

.paragraph--type-title-banner .field--name-field-title {
  @extend %a-text--font-size-big;
  @extend %a-text--font-weight-big;
  @extend %a-text--line-height-big;
  @extend %a-text--color-black;
}
